---
---

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700);
@import "bootstrap";
@import "bootstrap-theme";

$oc-primary-colour: #f56900;

@import "nav";
@import "examples";

body {
    padding-top: 70px;
}

.logo-container {
    padding-left: 15px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    section.main {
        padding-left: 100px;
        max-width: 760px;
    }
}